***It is not like I have run all the code for the first time as they are starting from 1, but because I have used Restart and
Run all from the kernal several times. Thank You.***

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Fraud.csv")
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [3]:
df=pd.get_dummies(df,columns=['type'])

In [4]:
df["type_CASH_IN"]=df["type_CASH_IN"].astype(int)
df["type_CASH_OUT"]=df["type_CASH_OUT"].astype(int)
df["type_DEBIT"]=df["type_DEBIT"].astype(int)
df["type_PAYMENT"]=df["type_PAYMENT"].astype(int)
df["type_TRANSFER"]=df["type_TRANSFER"].astype(int)

In [5]:
df

,step,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0,0,0,0,1,0
1,1,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0,0,0,0,1,0
2,1,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0,0,0,0,0,1
3,1,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0,0,1,0,0,0
4,1,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0,0,1,0,0,0
6362616,743,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0,0,0,0,0,1
6362617,743,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0,0,1,0,0,0
6362618,743,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0,0,0,0,0,1
6362619,743,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0,0,1,0,0,0

In [6]:
df['type_TRANSFER'].value_counts().sum()

6362620

In [7]:
df.shape

(6362620, 15)

In [8]:
df = df.drop(columns=['nameOrig', 'nameDest'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 13 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   amount          float64
 2   oldbalanceOrg   float64
 3   newbalanceOrig  float64
 4   oldbalanceDest  float64
 5   newbalanceDest  float64
 6   isFraud         int64
 7   isFlaggedFraud  int64
 8   type_CASH_IN    int32
 9   type_CASH_OUT   int32
 10  type_DEBIT      int32
 11  type_PAYMENT    int32
 12  type_TRANSFER   int32
dtypes: float64(5), int32(5), int64(3)
memory usage: 509.7 MB

# Q1.Data cleaning including missing values, outliers and multi-collinearity

In [10]:
df.isnull().sum()

step              0
amount            0
oldbalanceOrg     0
newbalanceOrig    0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
type_CASH_IN      0
type_CASH_OUT     0
type_DEBIT        0
type_PAYMENT      0
type_TRANSFER     0
dtype: int64

In [11]:
df.columns

Index(['step', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest',
       'newbalanceDest', 'isFraud', 'isFlaggedFraud', 'type_CASH_IN',
       'type_CASH_OUT', 'type_DEBIT', 'type_PAYMENT', 'type_TRANSFER'],
      dtype='object')

In [12]:
df.nunique()

step                  743
amount            5316900
oldbalanceOrg     1845844
newbalanceOrig    2682586
oldbalanceDest    3614697
newbalanceDest    3555499
isFraud                 2
isFlaggedFraud          2
type_CASH_IN            2
type_CASH_OUT           2
type_DEBIT              2
type_PAYMENT            2
type_TRANSFER           2
dtype: int64

In [13]:
df=df.dropna()

In [14]:
Q1=df.quantile(0.25)
Q2=df.quantile(0.50)
Q3=df.quantile(0.75)
IQR=Q3-Q1
outliers=df[(df<(Q1-1.5*IQR)) | (df>(Q3+1.5*IQR))]

In [15]:
outliers.count().sum()

6113180

In [16]:
 df=df.fillna(df.mean(),inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 13 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   amount          float64
 2   oldbalanceOrg   float64
 3   newbalanceOrig  float64
 4   oldbalanceDest  float64
 5   newbalanceDest  float64
 6   isFraud         int64
 7   isFlaggedFraud  int64
 8   type_CASH_IN    int32
 9   type_CASH_OUT   int32
 10  type_DEBIT      int32
 11  type_PAYMENT    int32
 12  type_TRANSFER   int32
dtypes: float64(5), int32(5), int64(3)
memory usage: 509.7 MB

In [18]:
df=df.iloc[0:100000,:]

In [19]:
df.shape

(100000, 13)

# Q2. Describe your fraud detection model in elaboration.

Here I have use two different types of algorithms, as my system is little bit slower thus From the dataset I chose only 100000 rows
to work with.
First, I used Random forest classifier algorithm, which gave an accuracy score of about 99.9%.
second, I have used Gradient boosting algorithm which gave an accuracy score of about 99.8%.

By twisting variable like estimators or train/test size, random state the score can be even improved and more accurate.

In [20]:
from sklearn.model_selection import train_test_split

C:\Users\Ayan\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [21]:
x=df.drop(["isFraud"],axis=1)
y=df['isFraud']

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10)

In [23]:
len(x_train)

70000

In [24]:
len(y_train)

70000

# Q3. How did you select variables to be included in the model?

I have use different variables by using feature exatraction and feature selection like I have dropped type, nameOrig and
nameDest as they do not contain numerical values. Usinf get_dummies could be one way to use the column.

# Random Forest Classifier

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [26]:
RFC=RandomForestClassifier(n_estimators=100,random_state=10)
RFC.fit(x_train,y_train)

C:\Users\Ayan\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

RandomForestClassifier(random_state=10)

# Gradient Boosting Classifier

In [27]:
from sklearn.ensemble import GradientBoostingClassifier

In [28]:
GBC=GradientBoostingClassifier(n_estimators=100,random_state=10)

In [29]:
GBC.fit(x_train,y_train)

C:\Users\Ayan\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

GradientBoostingClassifier(random_state=10)

# Q4.Demonstrate the performance of the model by using best set of tools.

# Random Forest Score

In [30]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score,roc_auc_score

In [31]:
rfcpred=RFC.predict(x_test)
rfcpred

C:\Users\Ayan\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [32]:
print(confusion_matrix(y_test, rfcpred))
print(classification_report(y_test, rfcpred))

[[29959     3]
 [   22    16]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     29962
           1       0.84      0.42      0.56        38

    accuracy                           1.00     30000
   macro avg       0.92      0.71      0.78     30000
weighted avg       1.00      1.00      1.00     30000

In [33]:
print(accuracy_score(y_test, rfcpred))

0.9991666666666666

In [34]:
print(roc_auc_score(y_test, rfcpred))

0.7104762523758164

# Gradient Boosting Score

In [35]:
GBCpred=GBC.predict(x_test)
GBCpred

C:\Users\Ayan\anaconda3\lib\site-packages\sklearn\utils\validation.py:623: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [36]:
print(confusion_matrix(y_test, GBCpred))
print(classification_report(y_test, GBCpred))

[[29954     8]
 [   29     9]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     29962
           1       0.53      0.24      0.33        38

    accuracy                           1.00     30000
   macro avg       0.76      0.62      0.66     30000
weighted avg       1.00      1.00      1.00     30000

In [37]:
print(accuracy_score(y_test, GBCpred))

0.9987666666666667

In [38]:
print(roc_auc_score(y_test, GBCpred))

0.6182875501951595

# Q5. What are the key factors that predict fraudulent customer?

Key factors that predict fraudulent customer are based on the features that we have used so far, those includes type of payment,
amount of balance deduction, sudden change in amount etc.

# Q6. Do these factors make sense? If yes, How? If not, How not?

Yes, these factors are very much realated to the fraud system, as it shows how the payment was made if it was in a fraud way or
unknown like hack account. It can also relate if the bank account balance suddenly becomes zero or if the amount is huge or more
than 200000

# Q7. What kind of prevention should be adopted while company update its infrastructure?

These are the some prevention that company must take:
1. Regular or frequent update policy
2. Decentralized/distributed system to store data in multiple places.
3. Strong authentication system
4. Shut down the distributed network completely while updating as it may become vulnerable for some attackers at that time.

# Q8. Assuming these actions have been implemented, how would you determine if they work?

1. Compare and calculate the number of fraudulent made before and after implementing.
2. Work on update policy , gain more data to improve the algorithm even more.
3. Regular customer feedback matters most and we get to know if our algoorithm is working properly or not.